.calculator {
  max-width: 150px;
  padding-left: 130px;
}

.calculator_page {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.calculator_container {
  width: 400%;
  margin: 0 auto;
}

.calculator_screen {
  padding: 15px;
  font-size: 3.75em;
  text-align: right;
  background-color: #808080;
  color: #fff;
}

.calculator_UI {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-family: "Segoe UI", sans-serif;
  flex: 0 1 25%;
  height: 70px;
  color: #111;
  font-size: 2em;
  background: #e0e0e0;
  border: 1px solid #808080;
  cursor: pointer;
}

.btn_opaque {
  background-color: #ffa500;
  color: #000;
}

.btn_large {
  flex: 0 1 50%;
}

.error_message,
.loading_message,
.quote_container {
  padding: 50px;
}

.loading_message {
  color: #324ab2;
}

.error_message {
  color: #8f00ff;
}

.quote,
.author {
  font-family: "Segoe UI", sans-serif;
  padding: 10px;
  font-size: 1.25rem;
  line-height: 200%;
  text-align: center;
}

.quote_container {
  justify-content: center;
  text-align: center;
}

.author {
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 50%;
}
