.title {
  font-size: 2.8rem;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: #c0bd0b;
  border-bottom: 2px solid #04e604;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: header-animation 2s infinite linear forwards;
}

@keyframes header-animation {
  0% {
    color: #c0bd0b;
  }

  25% {
    color: #fff;
  }

  50% {
    color: #c0bd0b;
  }

  75% {
    color: #fff;
  }

  100% {
    color: #c0bd0b;
  }
}
