html,
body {
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: 'Droid Sans', sans-serif;
  flex-direction: column;
  background: #8a2be2;
  padding: 20px;
  color: #fff;
}
