html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Droid Sans', sans-serif;
  background: linear-gradient(red, white);
}

.calculator {
  max-width: 330px;
  border: 1px solid black;
}

.calculator_screen {
  padding: 10px;
  font-size: 4rem;
  text-align: right;
  background-color: grey;
}

.calculatorUI {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 0 1 25%;
  height: 70px;
  color: black;
  font-size: 2rem;
  background: gray;
  border: 1px solid beige;
  cursor: pointer;
}

.btn_opaque {
  background-color: orange;
}

.btn_large {
  flex: 0 1 50%;
}
